<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     template="./../WEB-INF/Templates/Template.xhtml"
>
    <ui:define name="footer">
        Agregar nuevo Cliente
    </ui:define>
     <ui:define name="content">
         <h:form>
                <p:panelGrid columns="2">
                    <h:outputText value="Num Cédula:"/>
                    <p:inputText value="#{jSFManagedBean.cliente.numCedula}"/>
                    <h:outputText value="Apellidos Nombres:"/>
                    <p:inputText value="#{jSFManagedBean.cliente.apellidosNombres}"/>
                    <h:outputText value="Usuario:"/>
                    <p:inputText value="#{jSFManagedBean.cliente.usuario}"/>
                    <h:outputText value="Clave:"/>
                    <p:inputText value="#{jSFManagedBean.cliente.clave}"/>
                    <p:commandButton 
                        value="Grabar" 
                        id="btnGrabar" 
                        action="#{jSFManagedBean.grabarCliente()}"
                        oncomplete="Views/principal.xhtml"
                    />
                </p:panelGrid>
         </h:form>
     </ui:define>
</ui:composition>

